.container {
  margin-bottom: 0;
}

.index-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.image {
  align-self: center;
  max-width: 384px;
}

.headline {
  align-self: center;
  font-size: 21pt;
  margin: 0;
  font-weight: normal;
  font-family: 'Bahianita', cursive;
}

.sub-headline {
  align-self: center;
  font-family: 'Bahianita', cursive;
  font-size: 35pt;
  color: #d12000;
  margin: 8px 0 16px 0;
  font-weight: normal;
}

.button {
  align-self: center;
}