.container {
  margin-bottom: 0;
  display: flex;
  justify-content: space-evenly;
}

.index-container {
  height: 100%;
  width: 100%;
}

.headline {
  margin: 0;
  padding: 16px 0 0 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  text-align: center;
}

.sub-headline {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  text-align: center;
}