.content {
  display: flex;
  justify-content: center;
  padding: 8px 8px 56px 8px;
}

.edit-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-around;
}

.characteristics {
  width: 40%;
}

@media all and (max-width: 1080px) {
  .characteristics {
    width: 100%;
  }
}
