.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: stretch;
  justify-items: stretch;
  flex-direction: row;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px;
  min-width: calc(20% - 8px);
}

.row.first {
  background-color: rgba($color: #0000FF, $alpha: 0.4);
}

.row.second {
  background-color: rgba($color: #00FF00, $alpha: 0.4);
}

.row.third {
  background-color: rgba($color: #FFFF00, $alpha: 0.4);
}

.row.fourth {
  background-color: rgba($color: #FF7F00, $alpha: 0.4);
}

.row.fifth {
  background-color: rgba($color: #FF0000, $alpha: 0.4);
}

.characteristics {
  justify-self: center;
}

.header-card {
  position: absolute;
  left: 0;
  right: 0;
  margin: 16px auto 0 auto;
  width: fit-content;
}

.header-card > h1 {
  font-weight: normal;
  font-size: 35pt;
}

* {
  font-family: "Bahianita", cursive;
}