<mat-sidenav-container class="container">
  <mat-sidenav
    mode="over"
    [(opened)]="shellService.open"
  >
    <div class="container-sidenav">
      <h3 class="sidenav-title">Igne Conflatum</h3>
      <img class="img-logo" src="assets/images/logo_x128.png" alt="Logo">
      <mat-action-list>
        <button mat-list-item routerLink="master">Gamemaster</button>
        <button mat-list-item routerLink="player">Player</button>
      </mat-action-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="container-content">
    <mat-toolbar class="toolbar" color="primary">
      <button mat-icon-button (click)="shellService.toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Igne Conflatum</span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
