<mat-card>
  <mat-card-title class="char-info-headline">
    <mat-icon>face</mat-icon>
    {{ character.name }}
  </mat-card-title>
  <mat-card-content>
    <div class="char-bar" (click)="onBarClicked(bar)" *ngFor="let bar of character.bars">
      <mat-card-subtitle class="char-bar-title">{{ bar.name }}</mat-card-subtitle>
      <mat-progress-bar  color="primary" [value]="bar.max === undefined ? bar.value : ((100/bar.max) * bar.value)"></mat-progress-bar>
      <p class="progress-bar-subtitle">{{ bar.value }}/{{ (bar.max === undefined ? 100 : bar.max) }}</p>
    </div>
    <mat-list>
      <div *ngFor="let effect of character.effects">
        <mat-list-item (click)="onEffectClicked(effect)" *ngIf="effect.rounds > 0" [ngStyle]="{'background-color': 'rgba(' + effect.color + ', 0.3)'}" class="effect-item" >
          <div class="effect-line" matLine>{{ effect.name }}<span *ngIf="effect.rounds > 1" class="effect-rounds">{{ effect.rounds }}</span></div>
        </mat-list-item>
      </div>
    </mat-list>
  </mat-card-content>
</mat-card>