<mat-card class="container">
  <mat-card-title (click)="selectChar(bar)" class="container-title">
    <mat-icon class="container-title-icon">face</mat-icon>
    <span class="container-title-text">{{ character.name }}</span>
  </mat-card-title>
  <mat-card-content >
    <mat-divider></mat-divider>
    <div class="container-content">
      <ic-characteristics-bar class="bar" (click)="selectBar(bar)" *ngFor="let bar of character.bars" [bar]="bar"></ic-characteristics-bar>
    </div>
    <mat-divider></mat-divider>
    <div class="container-content-effects">
      <div class="effect" (click)="selectEffect(effect)" *ngFor="let effect of character.effects; let i = index">
        <ic-characteristics-effect [effect]="effect"></ic-characteristics-effect>
      </div>
    </div>
  </mat-card-content>
</mat-card>