.container {
  padding: 8px;
  font-family: "Bahianita", cursive;
}

.container-title {
  display: flex;
  font-size: 26pt;
  cursor: pointer;
}

.container-title-icon {
  align-self: center;
  font-size: 32px;
  height: 32px;
  width: 32px;
  margin: 0 16px 0 0;
}

.container-title-text {
  align-self: center;
}

.container-content {
  padding: 8px 0 8px 0;
}

.container-content-effects {
  padding: 8px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly
}

.bar {
  margin-bottom: 4px;
}