<div class="mat-elevation-z1">
  <h1 class="table-title">{{ title }}</h1>
  <table mat-table [dataSource]="dataSource" class="table">
    <ng-container *ngFor="let item of displayedColumns" [matColumnDef]="item">
      <th mat-header-cell *matHeaderCellDef>{{ item }}</th>
      <td mat-cell *matCellDef="let element"><div (click)="manipulate(element, item)">{{ element[item] }}</div></td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>